body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #1f2633;
}

.container {
    width: 600px;
    margin: 40px auto;
    background: #232b3b;
    border-top: 6px solid #d68600;
}

/* верхня панель */
.top-bar {
    background: #d68600;
    color: #ffd54d;
    padding: 10px 20px;
    font-size: 22px;
    font-weight: bold;
}

/* форма */
.form {
    padding: 20px 40px;
}

.row {
    display: grid;
    grid-template-columns: 160px 1fr; /* було 140 */
    align-items: center;
    margin-bottom: 12px;
}

.row label {
    color: #ffd54d;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
    white-space: nowrap; /* заборона переносу */
}


.row input,
.row select {
    padding: 7px;
    border-radius: 4px;
    border: none;
    width: 100%;
}

.dob {
    display: flex;
    gap: 10px;
}

/* gender */
.gender {
    display: flex;
    align-items: center;
    gap: 40px;
}

.radio {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #ffd54d;
    font-weight: bold;
}

/* checkbox */
.agree {
    margin-left: 160px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

/* нижня панель */
.bottom-bar {
    background: #d68600;
    padding: 10px 20px;
    text-align: right;
}

/* кнопки */
.submit {
    background: #2ecc71;
    color: white;
    border: none;
    padding: 7px 16px;
    border-radius: 4px;
}

.cancel {
    background: #e74c3c;
    color: white;
    border: none;
    padding: 7px 16px;
    border-radius: 4px;
    margin-left: 10px;
}
